.login-text{
    font-family: 'Poppins';
}

.section-login{
    margin-top: 100px;
}

.card-login{
    width: 600px;
    margin-left: auto;
    margin-right: auto;
}

.tombol-login{
    width: 100%;
}