/*universal*/
.col-menu{
    width: 60%;
    padding: auto;
    margin: auto;
    border: 0;
}

.card-menu{
    width: 80%;
    height: auto;
    padding: auto;
    margin: auto;
    border: 0;
}


/*student*/
.tombol-menu-student{
    background: white;
    border: 0;
    font-family: 'Poppins';
    width: 100%;
    color: #3d396e;
}

.tombol-menu-student:hover{
    background: #3d396e;
    border: 0;
}

.judul-menu-student{
    font-family: 'Poppins';
    color: white;
}

.angka-menu-student{
    font-family: 'Poppins';
    font-weight: bold;
    font-size: 90px;
    color: white;
}

.student-menu{
    background-color: #38538E;
}


/*coach*/
.tombol-menu-coach{
    background: white;
    border: 0;
    font-family: 'Poppins';
    width: 100%;
    color: #F16102;
}

.tombol-menu-coach:hover{
    background: #ce5505;
    border: 0;
}

.judul-menu-coach{
    font-family: 'Poppins';
    color: white;
}

.angka-menu-coach{
    font-family: 'Poppins';
    font-weight: bold;
    font-size: 90px;
    color: white;
}

.coach-menu{
    background-color: #F16102;
}

/*class*/
.tombol-menu-class{
    background: white;
    border: 0;
    font-family: 'Poppins';
    width: 100%;
    color: #ffb055;
}

.tombol-menu-class:hover{
    background: #dd8d32;
    border: 0;
}

.judul-menu-class{
    font-family: 'Poppins';
    color: white;
}

.angka-menu-class{
    font-family: 'Poppins';
    font-weight: bold;
    font-size: 90px;
    color: white;
}

.class-menu{
    background-color: #ffb055;
}



/*function*/
.col-menu-function{
    width: 100%;
    border: 0;
}

.function-menu{
    background-color: #dfdfdf;
    width: 100%;
    height: 100px;
    border: 0;
}

.judul-function{
    font-family: 'Poppins';
    color: #3d396e;
    font-size: 25px;
}

.card-function{
    margin-top: 30px;
    height: 80px;
    background: #EEF6FD;
    border:  0;
    color: #3d396e;

}

.card-function:hover{
    background: #c4cdd4;
    border:  0;
}

.button-text-function{
    font-family: 'Poppins';
    font-size: 25px;
    margin-top: 15px;
}