.card-presence{
    width: 700px;
    margin-left: auto;
    margin-right: auto;
}

.text-presence{
    font-family: 'Poppins';
}

.tombol-presence{
    width: 100%;
}

.form-student{
    width: 100%;
}

.form-student-tombol{
    width: 40px;
}

.tombol-student{
  width: 100%;
}